<!DOCTYPE html>
<html ng-app="ContainerApp">

<head lang="en">
    <meta charset="UTF-8">
    <title>Container Report</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body class="container">
    <div ng-controller="ContainerReportCtrl as Containers">
        <h1>Company</h1>
        <input type="text" ng-model="Company">
        <h1>Container#</h1>
        <input type="text" ng-model="Container#">
        <h1>Arrival Date</h1>
        <input type="text" ng-model="Arrival Date">
        <h1>Departure Day</h1>
        <input type="text" ng-model="Departure Day">
        <h1>Number of Pieces</h1>
        <input type="text" ng-model="# of Pieces">

    </div>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="Js/main.js"></script>
</body>

</html>
